[[extend 'layout_kiosk.html']]

<section class="section">
  <div class="columns is-multiline">
      <div class="column is-one-third" v-for="(product, position) in products" :key="product.id">
          <div class="card product-card">
              <div class="card-image">
                  <figure class="image is-4by2" style="cursor: pointer;">
                      <img :src="`/kiosk/static/media/${product.image1}`" alt="Product Image" @click="productModal(position)">
                      <span class="tag is-danger is-medium is-light" style="position: absolute; top: 10px; right: 10px;" v-if="product.discount > 0">
                          {{ product.discount }}% OFF
                      </span>
                  </figure>
              </div>
              <div class="card-content js-modal-trigger" data-target="modal-product">
                  <div class="media">
                      <div class="media-content">
                          <p class="title is-4">{{ product.name }}</p>
                          <p class="subtitle is-6">
                              <span class="has-text-grey-light" style="text-decoration: line-through;" v-if="product.discount">
                                  {{toCurrency(product.price) }}
                              </span>
                              {{toCurrency(product.final_price) }}
                          </p>
                          <p class="subtitle is-7">Stock: {{ product.stock }}</p>
                          <!-- Inline Quantity Select Input using Bulma -->
                          <!-- <div class="field has-addons">
                              <div class="control">
                                  <label class="label" style="margin-right: 10px;">Cantidad</label>
                              </div>
                              <div class="control">
                                  <div class="select">
                                      <select v-model="product.selectedQuantity">
                                          <option v-for="n in product.stock" :key="n" :value="n">{{ n }}</option>
                                      </select>
                                  </div>
                              </div>
                          </div> -->
                      </div>
                  </div>
              </div>
              <footer class="card-footer" style="padding:20px">
                  <div class="block">
                      <button class="button is-primary is-light" @click="add_to_cart(product.rand_id, product.selectedQuantity)">
                          <i class="fas fa-cart-shopping"></i>
                          Agregar al carrito
                      </button>
                  </div>
              </footer>
          </div>
      </div>
  </div>
</section>


<div class="modal" id="modal-shopping-cart">
  <div class="modal-background"></div>
    <div class="modal-content">
        <div class="box">

            <h4>Carrito de compras</h4>

            <table class="table is-striped is-hoverable is-fullwidth">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Product</th>
                    <th>Cantidad</th>
                    <th>Price</th>
                    <th>Delete</th>

                </tr>
                </thead>
                <tbody>
                <!-- Example Row -->

                <tr v-for="product in shopping_cart" :key="product.id">
                    <td>{{product.id}} </td>
                    <td>{{product.name}}</td>
                    <td> {{product.quantity}}</td>
                    <td>{{toCurrency(product.final_price)}}</td>
                    <td><button @click="deleteproductCart(product.product_id)" class="button is-danger is-small is-light"><i class="fas fa-trash"></i> </button> </td>
                </tr>
                <hr>
                <tr>
                    <td></td>
                    <td></td>
                    <td><strong>Total</strong></td>
                    <td><strong>{{toCurrency(shopping_total) }}</strong></td>

                <!-- Repeat Rows as needed -->
                </tbody>
            </table>
        <div class="has-text-right">
            <a class="button is-success has-text-light" :href="pay_now_url"> Pagar ahora</a>
        </div>
        
        </div>

   </div>
  </div>

</div>


<div class="modal" id="modal-product">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">{{ product.name }}</p>
            <button class="delete" aria-label="close" @click="closeModal"></button>
        </header>
        <section class="modal-card-body">
            <div class="columns is-multiline">
                <div class="column is-full-mobile is-two-thirds-tablet">
                    <div class="carousel">
                        <button class="carousel-button" @click="prevImage" :disabled="currentImageIndex === 0" aria-label="Anterior"></button>
                        <figure class="image">
                            <img :src="`/kiosk/static/media/${product.images[currentImageIndex]}`" alt="Product Image" class="product-image">
                        </figure>
                        <button class="carousel-button" @click="nextImage" :disabled="currentImageIndex === product.images.length - 1" aria-label="Siguiente">></button>
                    </div>
                </div>
                <div class="column">
                    <h4 class="title is-4">{{ product.name }}
                        <span class="tag is-danger is-small is-light" v-if="product.discount > 0">
                            {{ product.discount }}% OFF
                          </span>
                    </h4> 
                    <p class="description">{{ product.description }}</p>
                    <p class="price">Precio ${{ product.price }}</p>
                    <div class="buttons">
                        <button class="button is-primary is-light" @click="add_to_cart(product.rand_id, product.selectedQuantity)">
                            <i class="fas fa-cart-shopping"></i>
                            Agregar al carrito
                        </button>
                    </div>
                </div>
            </div>

        </section>
        <!-- <footer class="modal-card-foot">
            <button class="button is-success" @click="closeModal">Cerrar</button>
        </footer> -->
    </div>
</div>