[[extend 'layout_kiosk.html']]

<section class="section">
        <div v-for="(row, rowIndex) in chunkedItems" :key="rowIndex" class="columns">
            <div class="column is-one-third" v-for="item in row" :key="item.id">
                <div class="card product-card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img :src="`/kiosk/static/media/${item.image1}`" alt="Product Image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">{{ item.name }}</p>
                                <p class="subtitle is-6">$ {{ item.price }}</p>
                                <p class="subtitle is-7">stock:  {{item.stock}} </p>
                            </div>
                        </div>
                        <div class="content">
                            {{ item.description }}
                        </div>
                    </div>
                    <footer class="card-footer" style="padding:20px">
                        <div class="block">
                            <button class="button is-primary" @click="add_to_cart(item.rand_id)">Add to Cart</button>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </section>

<div class="modal" id="modal-shopping-cart">
  <div class="modal-background"></div>
  <div class="modal-content">
      <div class="box">

<h4>Carrito de compras</h4>

    <table class="table is-striped is-hoverable is-fullwidth">
        <thead>
          <tr>
            <th>ID</th>
            <th>Product</th>
            <th>Cantidad</th>
            <th>Price</th>

          </tr>
        </thead>
        <tbody>
          <!-- Example Row -->

          <tr v-for="item in shopping_cart" :key="item.id">
            <td>{{item.id}} </td>
            <td>{{item.name}}</td>
            <td> {{item.cantidad}}</td>
            <td>$ {{item.price}}</td>
          </tr>

          <!-- Repeat Rows as needed -->
        </tbody>
      </table>
   </div>
      </div>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>
