<nav class="navbar is-light is-fixed-top">
    <div  >
        <div class="content has-text-centered">
            <a href="[[=URL('index')]]">
          <img width="190" height="190" src="/kiosk/static/logo3.png" alt="">
        </a>
        </div>
      </div>
  <div class="navbar-brand">
      <div class="navbar-burger js-burger" data-target="navMenuColorlight-example">
          <span></span>
          <span></span>
          <span></span>
      </div>
  </div>

  <div id="navMenuColorlight-example" class="navbar-menu">
      <div class="navbar-start">
          <a class="navbar-item" href="[[=URL('index')]]">  </a>
      </div>
      <div class="navbar-end">
          <!-- Aquí se añade el campo de búsqueda -->
          <div class="navbar-item">
              <div class="field has-addons">
              <div class="control has-icons-right">
                  <input class="input" type="text" placeholder="Buscar..." v-model="searchValue"  @keyup.enter="searchProduct(searchValue)" >
                  <span class="icon is-right">
                      <i v-show="!loadingSearch" class="fas fa-search"></i>
                      <i v-show="loadingSearch" class="fas fa-spinner fa-pulse"></i>
                  </span>
              </div>
            </div>
          </div>
          <div class="navbar-item">
              <div class="field is-grouped">
                  <p class="control">
                      <button class="button is-light js-modal-trigger" data-target="modal-shopping-cart" @click="cart_listing('all')">
                          <span class="icon">
                              <i class="fas fa-cart-shopping"></i>
                          </span>
                          <span id="cart_counter">0</span>
                      </button>
                  </p>
              </div>
          </div>
      </div>
  </div>
</nav>

<br><br>