
<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <figure class="image is-64x64" onclick="javascript:window.location='[[=URL('index')]]'">
        <img class="" src="[[=URL('static','kitsune.png')]]">
      </figure>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a href="[[=URL('projects')]]" class="navbar-item"><!--<i class="fas fa-folder"> </i>--> </a>
        <a href="[[=URL('tags_manager')]]" class="navbar-item"><!--<i class="fas fa-tag"> </i> --></a>
        <a href="[[=URL('tools')]]" class="navbar-item"><!--<i class="fas fa-wrench"></i> --></a>


      </div>

      <div class="navbar-end">
        <div class="image-container js-modal-trigger"  data-target="modal-shopping-cart" @click="cart_listing('all')">
            <img width="70px" height="130px" class="image" src="[[=URL('static','tori.png')]]">
        <div class="overlay">
            <span class="number" id="cart_counter">0</span>
        </div>
       </div>
      </div>
    </div>
  </nav>
