[[extend 'layout_kiosk_py4web.html']]

<section class="section">
    <div class="box">

    
        <div class="columns">
            <!-- Left Column: Form for Shipping Details -->
            <div class="column is-half">
                <h2 class="title is-4">Detalles del envío</h2>
                <div class="columns">
                    <div class="column ">
                        
                    <div class="field">
                        <label class="label">Nombre</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Your Name" v-model="shippingDetails.customer_name" required>
                            <p class="help is-danger" v-show="empty_value.nombre" >Ingrese este campo</p>

                        </div>
                    </div>
                    
                    
                    <div class="field">
                        <label class="label">Correo electrónico</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="ingresa tu email" v-model="shippingDetails.customer_email" required>
                            <p class="help is-danger" v-show="empty_value.email" >Ingrese este campo</p>

                        </div>
                    </div>
                    
                    
                    <div class="field">
                        <label class="label">Dirección</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Ingresa la dirección para despacho" v-model="shippingDetails.customer_address" required>
                            <p class="help is-danger" v-show="empty_value.direccion" >Ingrese este campo</p>

                        </div>
                    </div>
                    

                    <div class="field">
                        <label class="label">Region</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Santiago" v-model="shippingDetails.customer_region" required>
                            <p class="help is-danger" v-show="empty_value.region" >Ingrese este campo</p>

                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Comuna</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="ingresar comuna" v-model="shippingDetails.customer_comuna" required>
                            <p class="help is-danger" v-show="empty_value.comuna" >Ingrese este campo</p>

                        </div>
                    </div>

                    

                   
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="label">Apellido</label>
                            <div class="control">
                                <input class="input" type="text" placeholder="apellido" v-model="shippingDetails.customer_lastname" required>
                                <p class="help is-danger" v-show="empty_value.apellido" >Ingrese este campo</p>

                            </div>
                        </div>
                        <div class="field">
                        <label class="label"> RUT</label>
                            <div class="control">
                                <input class="input" type="text" placeholder="11111111-1" v-model="shippingDetails.customer_rut" required>
                                <p class="help is-danger" v-show="empty_value.rut" >Ingrese este campo</p>

                            </div>
                        </div>
                        
                        <div class="field">
                            <label class="label">Teléfono de contacto</label>
                            <div class="control">
                                <input class="input" type="text" placeholder="ingresa tu número telefónico" v-model="shippingDetails.customer_phone" required>
                                <p class="help is-danger" v-show="empty_value.phone" >Ingrese este campo</p>

                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Casa o departamento</label>
                            <div class="control">
                                <input class="input" type="text" placeholder="Casa Nº, Depto Nº" v-model="shippingDetails.customer_address_details" required>
                                <p class="help is-danger" v-show="empty_value.addressDetail" >Ingrese este campo</p>

                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Comentario</label>
                            <div class="control">
                                <textarea class="textarea" placeholder="Any other details..." v-model="shippingDetails.customer_message"></textarea>
                            </div>
                        </div>

                    </div>
                    
                  </div>
                  <button class="button is-link" @click="validaForm">Guardar</button>

                
            </div>

            <!-- Right Column: Cart Items and Total Price -->
            <div class="column is-half">
                <h2 class="title is-4">Resumen de productos</h2>
                <div class="">        
                    <table class="table is-striped is-hoverable is-fullwidth">
                        <br>
                        <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>img</th>
                            <th>Cantidad</th>
                            <th>Price</th>
                            <th>Delete</th>
        
                        </tr>
                        </thead>
                        <tbody>
                        <!-- Example Row -->
        
                        <tr v-for="product in shopping_cart" :key="product.id">
                            <td>{{product.name}} </td>
                            <td>
                                <figure class="image is-48x48">
                                <img class="is-rounded" v-bind:src="product.image" />
                              </figure>
                            </td>
                            <td> {{product.quantity}}</td>
                            <td>{{toCurrency(product.final_price)}}</td>
                            <td><button @click="deleteproductCart(product.product_id)" class="button is-danger is-small is-light"><i class="fas fa-trash"></i> </button> </td>
                        </tr>
                        <hr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td><strong>Total</strong></td>
                            <td><strong>{{toCurrency(shopping_total) }}</strong></td>
        
                        <!-- Repeat Rows as needed -->
                        </tbody>
                    </table>
                
                
                </div>
                <hr>
                <div class="buttons" v-if="show_payment">
                    <button class="button is-link" @click="payWithBankTransfer">Pay with Bank Transfer</button>
                    <button class="button is-warning" @click="payWithWeepy">Pay with webpay</button>
                </div>
            </div>
        </div>
    </div>
</section>


