[[extend 'layout_kiosk.html']]


<div class="box">
      <h4>Carrito de compras</h4>

    <table class="table is-striped is-hoverable is-fullwidth">
        <thead>
          <tr>
            <th>ID</th>
            <th>Product</th>
            <th>Cantidad</th>
            <th>Price</th>

          </tr>
        </thead>
        <tbody>
          <!-- Example Row -->

          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>$ </td>

          </tr>

          <!-- Repeat Rows as needed -->
        </tbody>
      </table>
   </div>
